@media (max-width: 992px){
    body{
        /* background: red; */

    }
    header img{
        margin-top: 200px;
    }
    .courses{
        background-color: #E28103;
        padding: 30px;
        width: 385px;
        border-radius: 8px 8px 0 0;
        margin: 40px auto;
        margin-bottom: 0px;
    }

}
@media (max-width: 769px){
    .footer-end{
        height: 20vh;
        background-color: #000;
        display: flex;
        border-top: 5px solid #E28103;
        justify-content: space-around;
        padding: 0px;
    }
    .footer-end h5{
        font-size: 14px;
        margin: 50px auto;
        font-weight: 400;
        color: white;
        padding: 8px;
    }

}
@media (max-width: 426px){
    header img{
        width: 280px;
        margin-top: 150px;
    }

    .courses{
        background-color: #E28103;
        padding: 10px 10px 10px 10px;
        height: 40px;
        width: 280px;
        border-radius: 8px 8px 0 0;
        margin: 40px auto;
        margin-bottom: 0px;
    }
    .card{
        width: 280px;
    }
    .card2{
        background-color: #0000000D;
        padding: 20px;
        width:280px;
        margin-top: 15px;
        border-radius: 7px;
    
    }
    .select-menu{
        width: 280px;
    }
    .select-menu .select-btn{
        width: 280px;
    }
    .select-menu2{
        width: 280px;
    }
    .select-menu3{
        width: 280px;
    }
    .select-menu4{
        width: 280px;
    }
    .footer-end{
        height: 20vh;
        background-color: #000;
        display: flex;
        border-top: 5px solid #E28103;
        justify-content: space-around;
        padding: 0px;
    }
    .footer-end h5{
        font-size: 14px;
        margin: 50px auto;
        font-weight: 400;
        color: white;
        padding: 8px;
    }

    
}

@media (max-width: 376px){
    body{
        /* background-color: green; */
    }

    header img{
        width: 260px;
        margin-top: 150px;
    }

    .courses{
        background-color: #E28103;
        padding: 10px 10px 10px 10px;
        height: 40px;
        width: 260px;
        border-radius: 8px 8px 0 0;
        margin: 40px auto;
        margin-bottom: 0px;
    }
    .card{
        width: 260px;
    }
    .card2{
        background-color: #0000000D;
        padding: 20px;
        width:260px;
        margin-top: 15px;
        border-radius: 7px;
    
    }
    .select-menu{
        width: 260px;
    }
    .select-menu .select-btn{
        width: 260px;
    }
    .select-menu2{
        width: 260px;
    }
    .select-menu2 .select-btn2{
        width: 260px;

    }
    .select-menu3{
        width: 260px;

    }
    .select-menu3 .select-btn3{
        width: 260px;
    }
    .select-menu4{
        width: 260px;
    }
    .select-menu4 .select-btn4{
        width: 260px;
    }
    
    .footer-end{
        height: 20vh;
        background-color: #000;
        display: flex;
        border-top: 5px solid #E28103;
        justify-content: space-around;
        padding: 0px;
    }
    .footer-end h5{
        font-size: 14px;
        margin: 50px auto;
        font-weight: 400;
        color: white;
        padding: 5px;
    }

}